* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {

    font-size: 62.5%;
    flex-wrap: wrap;

}

main {

    min-height: 100vh;
}

.tunnelpereira{
    
    padding: 4rem;
}

.tunnelcard {

    flex-wrap: wrap;
}

.tunnel {

    display: block;

}

.tunneltitulo {

    padding: 3rem;
}

.tunnelfoto {

    width: 90rem;
    height: 90rem;

}

.pin {

    height: 3.5rem;
    padding: 0rem 0rem 0rem 2rem;

}

.location {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.tunnelinfo {

    display: block;
    padding: .1rem 1rem;

}

.tunnelevents {

    justify-content: space-between;

}

.tunnel1 {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: .1rem solid rgb(66, 63, 63);
    border-radius: 2rem;
    padding: 4rem;
    transition: .4s;
    background-color: rgba(38, 38, 38, 0.773);

}

.tunnel1:hover {

    transform: scale(1.1)
}

.tunnel1img {

    width: 30rem;
    height: 50rem;
    object-fit: cover;

}

.radioberlin{

    padding: 4rem;
    
}

.radio{

    flex-wrap: wrap;
    display: block;
}

.radioberlincard{

    flex-wrap: wrap;
    display: block;
}

.radiotitulo{

    margin: 2rem;
}

.radioimg{

    width: 150rem;
    height: 75rem;
    margin: auto;

}

.radio3img{

    width: 45rem;
    height: 70rem;
    margin: auto;

}

.radioevents{

    justify-content: center;
    gap: 5rem;


}

.radio1{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: .1rem solid rgb(66, 63, 63);
    border-radius: 2rem;
    padding: 4rem;
    transition: .4s;
    background-color: rgba(38, 38, 38, 0.773);

}

footer {

    background-color: rgba(0, 0, 0, 0.864);
}