*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html{

    font-size: 62.5%;
    flex-wrap: wrap;

}

main{

    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    min-height: 100vh;

}

.baumf{

    width: 100%;
    height: 100%;

}

.baumcard{

    display: block;
    padding: 0rem 0rem 5rem;
    
}

.doom{

    width: 150rem;
    height: 75rem;
    padding: 5rem;
    
}

.doomfest{

    display: block; 
    padding: 0rem 0rem 9rem ; 
    
    
}

.ritvales{

    display: flex;
    width: 80rem;
    height: 80rem;
    padding: 5rem;
    
}

.ritvalesfest{

    display: block;
    border: .1rem solid rgba(62, 62, 62, 0.858);
    width: 50%;
    text-align: justify;
    justify-content: center;
    align-items: center;
    padding: 0rem 0rem 5rem;
    
}

.dreamfoto{
    
    display: flex;
    width: 80rem;
    height: 80rem;
    padding: 5rem;

}

.dreamingfestcard{

    display: block;
    border: .1rem solid rgba(62, 62, 62, 0.858);
    width: 50%;
    text-align: justify;
    justify-content: center;
    align-items: center;
    padding: 0rem 0rem 5rem;
    

}



